.main-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    background-color: darkslategray;
}

.footer {
    background-color: #000;
    color: #eee;
    font-size: 14px;
}

#copy {
    font-style: italic;
}